# Auto detect text files and perform LF normalization
* text=auto

docs/** linguist-generated -linguist-detectable

*.qmd linguist-language=Rmarkdown linguist-detectable
*.rmd linguist-language=Rmarkdown linguist-detectable
*.Rmd linguist-language=Rmarkdown linguist-detectable
