# Auto detect text files and perform LF normalization
* text=auto

docs/** linguist-generated

*.qmd linguist-language=R linguist-detectable
*.rmd linguist-language=R linguist-detectable
*.Rmd linguist-language=R linguist-detectable
