# Auto detect text files and perform LF normalization
* text=auto

docs/* linguist-vendored

*.html linguist-detectable=false
*.js linguist-detectable=false
.css linguist-detectable=false
*.qmd linguist-language=RMarkdown
*.Rmd linguist-language=RMarkdown